<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.absurd.circle.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:name="com.absurd.circle.app.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="80837d6d2302e9567a379416f49bee46" />

        <activity
            android:name="com.absurd.circle.ui.activity.HomeActivity"
            android:label="@string/title_activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.absurd.circle.ui.activity.EditMessageActivity"
            android:label="@string/title_activity_edit_tweet" >
        </activity>
        <activity
            android:name="com.absurd.circle.ui.activity.NotificationActivity"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name="com.absurd.circle.ui.activity.ContactActivity"
            android:label="@string/title_activity_contact" >
        </activity>
        <activity
            android:name="com.absurd.circle.ui.activity.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name="com.absurd.circle.ui.activity.MessageDetailActivity"
            android:label="@string/title_activity_tweet_detail" >
        </activity>

        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.absurd.circle.ui.activity.LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100487816" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.absurd.circle.ui.activity.ImageDetailActivity"
            android:label="ImageDetailActivity" >
        </activity>
        <activity
            android:name="com.absurd.circle.ui.activity.UserDynamicActivity"
            android:label="@string/title_activity_user_message" >
        </activity>
        <activity
            android:name="com.absurd.circle.ui.activity.UnReadCommentActivity"
            android:label="UnReadCommentActivity" >
        </activity>
        <activity
            android:name="com.absurd.circle.ui.activity.UnReadPraiseActivity"
            android:label="UnReadPraiseActivity" >
        </activity>
        <activity
            android:name="com.absurd.circle.ui.activity.UserProfileActivity"
            android:label="@string/title_activity_user_profile" >
        </activity>
        <activity
            android:name="com.absurd.circle.ui.activity.MyProfileActivity"
            android:label="@string/title_activity_my_profile" >
        </activity>
        <activity
            android:name="com.absurd.circle.ui.activity.EditCommentActivity"
            android:label="@string/title_activity_edit_comment" >
        </activity>
        <activity
            android:name="com.absurd.circle.ui.activity.EditItemActivity"
            android:label="@string/title_activity_edit_item" >
        </activity>
        <activity
            android:name="com.absurd.circle.ui.activity.ChatActivity"
            android:label="@string/title_activity_chat" >
        </activity>
    </application>

</manifest>
