<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.absurd.circle.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.absurd.circle.app.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.absurd.circle.ui.activity.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.absurd.circle.ui.activity.EditTweetActivity"
            android:label="@string/title_activity_edit_tweet" >
        </activity>
        <activity
            android:name="com.absurd.circle.ui.activity.MessageActivity"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name="com.absurd.circle.ui.activity.ContactActivity"
            android:label="@string/title_activity_contact" >
        </activity>
        <activity
            android:name="com.absurd.circle.ui.activity.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name="com.absurd.circle.ui.activity.TweetDetailActivity"
            android:label="@string/title_activity_tweet_detail" >
        </activity>

        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.absurd.circle.ui.activity.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Tests for My App"
        android:targetPackage="com.absurd.circle.data.test" />

</manifest>
